

<link href="~/css/HomePage/HomePage.css" rel="stylesheet" />

<!-- Product Catagories Area Start -->
<div class="products-catagories-area clearfix">
 
        

            <!-- Slider -->

            <div class="main_slider" style="background-image:url(/image/Vendi/slider_1.jpg)">
                <div class="container fill_height">
                    <div class="row align-items-center fill_height">
                        <div class="col">
                            <div class="main_slider_content">
                                <h6>Spring / Summer Collection 2017</h6>
                                <h1>Get up to 30% Off New Arrivals</h1>
                                <div class="red_button shop_now_button"><a href="#">shop now</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

             


            <!-- Banner -->
           
                <div class="banner">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="banner_item align-items-center" style="background-image:url(/image/Vendi/banner_1.jpg)">
                                    <div class="banner_category">
                                        <a href="categories.html">women's</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="banner_item align-items-center" style="background-image:url(/image/Vendi/banner_2.jpg)">
                                    <div class="banner_category">
                                        <a href="categories.html">accessories's</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="banner_item align-items-center" style="background-image:url(/image/Vendi/banner_3.jpg)">
                                    <div class="banner_category">
                                        <a href="categories.html">men's</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>




                </div>



            