@model Vendi.Data.Address

@{
    ViewData["Title"] = "Create";
}



<h4>Address</h4>
<hr />
<div class="row">    
     
        <form asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="AddressId" hidden="hidden"/>
            <input asp-for="CreateDate" hidden="hidden"/>
            <div class="form-group">
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">PostCode</span>
                    </div>
                    <input asp-for="PostCode" class="form-control" placeholder="PostCode" type="text" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" />
                    <span asp-validation-for="PostCode" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">HouseNumber</span>
                    </div>
                    <input asp-for="HouseNumber" class="form-control" placeholder="HouseNumber" type="text" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" />
                    <span asp-validation-for="HouseNumber" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Street</span>
                    </div>
                    <input asp-for="Street" class="form-control" placeholder="Street" type="text" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" />
                    <span asp-validation-for="Street" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">City</span>
                    </div>
                    <input asp-for="City" class="form-control" placeholder="City" type="text" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" />
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">County</span>
                    </div>
                    <input asp-for="County" class="form-control" placeholder="County" type="text" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" />
                    <span asp-validation-for="County" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Country</span>
                    </div>
                    <input asp-for="Country" class="form-control" placeholder="Country" type="text" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" />
                    <span asp-validation-for="Country" class="text-danger"></span>
                </div>
            </div>


            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
 



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");} 


}
