@model Vendi.Data.Order
<div class="cart-table-area section-padding-100">
    <div class="container-fluid">
        <div class="row text-md-center">
            <div class="col-12 col-lg-12">
              <i class="fa fa-cart-plus fa-5x" style="color:#fbb710"></i>
                <h1>Your order has been confirmed.</h1>
                <h5>you order Number# @Model.OrderId.ToString()</h5>
            </div>
        </div>
    </div>
</div>