/*
** reseting 
*/

a {
    color: #2ecc71;
    font-family: tahoma;
}
/*
** timeline css codes
*/
.comments {
    width: 700px;
    margin: 100px auto;
    padding: 0px 10px 0px 50px;
}

p {
    padding: 20px;
    background: #34495e;
    color: #ecf0f1;
    font-family: tahoma;
    line-height: 1.7;
    position: relative;
}

    p > span {
        display: block;
        padding: 5px 5px 10px 5px;
        color: #7f8c8d;
        font-style: italic;
        font-size: 13px;
    }
    

    p:before {
        content: "";
        display: block;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: #2ecc71;
        top: -9px;
        left: -61px;
        position: absolute;
    }

    p:after {
        content: "";
        display: block;
        width: 0;
        height: 0;
        border-style: solid;
        border-color: #34495e #34495e transparent transparent;
        border-width: 15px;
        position: absolute;
        top: 0px;
        left: -29px;
    }

 