
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>Dashboard</title>

    <!-- Fontfaces CSS-->
    <link href="~/CP/css/font-face.css" rel="stylesheet" media="all">
    <link href="~/CP/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="~/CP/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="~/CP/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="~/CP/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="~/CP/vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="~/CP/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="~/CP/vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="~/CP/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="~/CP/vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="~/CP/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="~/CP/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="~/CP/css/theme.css" rel="stylesheet" media="all">

</head>

<body class="animsition">
    <div class="page-wrapper">
        <!-- HEADER MOBILE-->
        <header class="header-mobile d-block d-lg-none">
            <div class="header-mobile__bar">
                <div class="container-fluid">
                    <div class="header-mobile-inner">
                        <a class="logo" href="/home">
                            <img src="~/CP/images/icon/logo.png" alt="CoolAdmin" />
                        </a>
                        <button class="hamburger hamburger--slider" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <nav class="navbar-mobile">
                <div class="container-fluid">
                    <ul class="navbar-mobile__list list-unstyled">
                       
                            <li class="active has-sub">
                                <a class="js-arrow" href="#">
                                    <i class="fas fa-tachometer-alt"></i>Products
                                </a>
                                <ul class="list-unstyled navbar__sub-list js-sub-list">
                                    <li>
                                        <a href="/CP/AdminProductPending"> Need Approval <span class="badge badge-warning"></span> </a>
                                    </li>
                                    <li>
                                        <a href="/Categories/IndexAdmin">Categories</a>
                                    </li>
                                    <li>
                                        <a href="/brands">Brands</a>
                                    </li>
                                    <li>
                                        <a href="/Producttypes/index">Product Type</a>
                                    </li>
                                    <li>
                                        <a href="/FeaturedProducts/index">Featured Products</a>
                                    </li>
                                    <li>
                                        <a href="/Products/AdminIndex">All Products</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="has-sub">
                                <a class="js-arrow" href="#">
                                    <i class="fas fa-cog"></i>Servies
                                </a>
                                <ul class="list-unstyled navbar__sub-list js-sub-list">
                                    <li>
                                        <a href="/Services/AdminServicePending">Need Approval <span class="badge badge-warning"></span> </a>
                                    </li>
                                    <li>
                                        <a href="/ServiceCategories/indexadmin">Categories</a>
                                    </li>
                                    <li>
                                        <a href="/CP/ServiceAdminIndex">All Serives</a>
                                    </li>
                                    <li>
                                        <a href="/FeaturedServices/Index">Featured Servies</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="has-sub">
                                <a class="js-arrow" href="#">
                                    <i class="fas fa-users"></i>Users
                                </a>
                                <ul class="list-unstyled navbar__sub-list js-sub-list">
                                    <li>
                                        <a href="~/CP/AllUsers">All Users</a>
                                    </li>
                                    <li>
                                        <a href="index4.html">Roles</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="/ads/index">
                                    <i class="fas fa-table"></i>Ads
                                </a>
                            </li>
                            
                            <li>
                            <li class="has-sub">
                                <a class="js-arrow" href="#">
                                    <i class="fas fa-cog"></i>Setting
                                </a>
                                <ul class="list-unstyled navbar__sub-list js-sub-list">
                                    <li>
                                        <a href="/CP/AdminSettings">WebSite Settings  </a>
                                    </li>
                                    <li>
                                        <a href="/CP/WebsiteEmailSettings">Email Settings</a>
                                    </li>
                                </ul>
                            </li>



                        </ul>
</div>
            </nav>
        </header>
        <!-- END HEADER MOBILE-->
        <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar d-none d-lg-block">
            <div class="logo">
                <a href="#">
                    <img src="~/CP/images/icon/logo.png" alt="Cool Admin" />
                </a>
            </div>
            <div class="menu-sidebar__content js-scrollbar1">
                <nav class="navbar-sidebar">
                    <ul class="list-unstyled navbar__list">
                        <li class="active has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-b"></i>Products
                            </a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li>
                                    <a href="/CP/AdminProductPending"> Need Approval <span class="badge badge-warning"></span> </a>
                                </li>
                                <li>
                                    <a href="/Categories/IndexAdmin">Categories</a>
                                </li>
                                <li>
                                    <a href="/brands">Brands</a>
                                </li>
                                <li>
                                    <a href="/Producttypes/index">Product Type</a>
                                </li>
                                <li>
                                    <a href="/FeaturedProducts/index">Featured Products</a>
                                </li>
                                <li>
                                    <a href="/Products/AdminIndex">All Products</a>
                                </li>
                            </ul>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-cog"></i>Servies
                            </a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li>
                                    <a href="/Services/AdminServicePending">Need Approval <span class="badge badge-warning"></span> </a>
                                </li>
                                <li>
                                    <a href="/ServiceCategories/indexadmin">Categories</a>
                                </li>
                                <li>
                                    <a href="/CP/ServiceAdminIndex">All Serives</a>
                                </li>
                                <li>
                                    <a href="/FeaturedServices/Index">Featured Servies</a>
                                </li>
                            </ul>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-users"></i>Users
                            </a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li>
                                    <a href="~/CP/AllUsers">All Users</a>
                                </li>
                                <li>
                                    <a href="index4.html">Roles</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="/ads/index">
                                <i class="fas fa-table"></i>Ads
                            </a>
                        </li>

                        <li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-bank"></i>Finance
                            </a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li>
                                    <a href="/CP/BankTransactions">Bank Transactions  </a>
                                </li>
                                
                            </ul>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-cog"></i>Setting
                            </a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li>
                                    <a href="/CP/AdminSettings">WebSite Settings  </a>
                                </li>
                                <li>
                                    <a href="/CP/WebsiteEmailSettings">Email Settings</a>
                                </li>
                            </ul>
                        </li>



                    </ul>
                </nav>
            </div>
        </aside>
        <!-- END MENU SIDEBAR-->
        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <!-- HEADER DESKTOP-->
             
            <!-- HEADER DESKTOP-->
            <!-- MAIN CONTENT-->
            @RenderBody()
            <!-- END MAIN CONTENT-->
            <!-- END PAGE CONTAINER-->
        </div>

    </div>

    <!-- Jquery JS-->
    <script src="~/CP/vendor/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap JS-->
    <script src="~/CP/vendor/bootstrap-4.1/popper.min.js"></script>
    <script src="~/CP/vendor/bootstrap-4.1/bootstrap.min.js"></script>
    <!-- Vendor JS       -->
    <script src="~/CP/vendor/slick/slick.min.js">
    </script>
    <script src="~/CP/vendor/wow/wow.min.js"></script>
    <script src="~/CP/vendor/animsition/animsition.min.js"></script>
    <script src="~/CP/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
    </script>
    <script src="~/CP/vendor/counter-up/jquery.waypoints.min.js"></script>
    <script src="~/CP/vendor/counter-up/jquery.counterup.min.js">
    </script>
    <script src="~/CP/vendor/circle-progress/circle-progress.min.js"></script>
    <script src="~/CP/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="~/CP/vendor/chartjs/Chart.bundle.min.js"></script>
    <script src="~/CP/vendor/select2/select2.min.js">
    </script>

    <!-- Main JS-->
    <script src="~/CP/js/main.js"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>
<!-- end document-->
