

<link href="~/css/RatingStar/starrr.css" rel="stylesheet" />


<div id="CustomerReviewBox">
    <hr />
    <br />
    <h5>  Your Reviews:</h5>
    <span>
        Rating:
        <a class='starrr' id='star1'></a>
    </span>
    <p>
        <input id="Rating" type="number" hidden="hidden" value="0" />
        <textarea id="Description" style="border-radius: 0.2rem; width:100%;" placeholder="Write your review"></textarea>
        <br />

        <button type="button" id="btn_SubmitReview" name="btn_SubmitReview" onclick="SubmitReview();" class="btn amado-btn">Submit</button>
    </p>

</div>
<hr />


<partial name="_ProductReviews" model="Model.ProductReviews" />


    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/js/StarRating/starrr.js"></script>
    <script>
        $('#star1').starrr({
            change: function (e, value) {
                if (value) {
                    $("#Rating").val(value);
                }
            }
        });

    </script>

    <script>
    $(document).ready(function () {
        id = $('#ProductId').val();
        console.log('PID' + id);
        $.ajax({
            url: "/CheckCustomerReview/"+id,
            type: "GET",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                console.log(result);
                if (result.flag) {
                    $('#CustomerReviewBox').hide();
                }

            },
            error: function (errormessage) {
                alert(errormessage);
            }
        });
    });

    function SubmitReview() {

        var res = validate();
        if (res === false) {
            console.log('false Rating...')
            return false;

        }

        var ReviewObj = {
            Rating: $('#Rating').val(),
            Description: $('#Description').val(),
            ProductId: @Model.ProductId
        };
        console.log('Submitting form...');
        console.log(ReviewObj);

        $.ajax({
            url: "/SubmitReview",
            data: JSON.stringify(ReviewObj),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",

            success: function (result) {

                console.log(result);

                if (result.flag) {
                    $('#CustomerReviewBox').hide();
                    location.reload();
                }


            },
            error: function (errormessage) {
                alert(errormessage);

            }
        });
    }

    function validate() {
        var isValid = true;
        /* if ($('#Rating').val().trim() === "") {
             $('#Rating').css('border-color', 'Red');
             isValid = false;
         }
         else {
             $('#Rating').css('border-color', 'lightgrey');
         } */
        if ($('#Description').val().trim() === "") {
            $('#Description').css('border-color', 'Red');
            isValid = false;
        }
        else {
            $('#Description').css('border-color', 'lightgrey');
        }

        return isValid;
    }

    </script>

  