@model Vendi.Data.ProductType

@{
    ViewData["Title"] = "Delete";
}


<div class="single-product-area section-padding-100 clearfix">
    <div class="container-fluid">
        <!-- Satrtt -->
        <div class="row">
            <div class="col-md-12">
                <label>Are You Sure You Want To Delete This Product?</label>
                <div class="form-group">
                    <dl class="row">
                        <dt class="col-sm-2">
                            <label asp-for="ProductTypeName">Product Type</label>
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.ProductTypeName)
                        </dd>
                    </dl>
                    <form asp-action="Delete" method="post">
                        <input type="hidden" asp-for="ProductTypeId" />
                        <input type="submit" value="Delete" class="btn amado-btn mb-15" />
                    </form>
                    <div class="form-group">
                       
                </div>
            </div>
        </div>
    </div>
</div>    